@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.navbar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: black;
}
.navbar h1 {
  width: 50%;
  color: white;
  font: "Abel", sans-serif;
  font-size: 2rem;
}

.navButtons {
  display: flex;
  gap: 10%;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: white;
}

#loginModal {
  height: 175px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0 0 0 5%;
  z-index: 999;
  position: absolute;
}
#loginModal p {
  font-size: 0.9rem;
  font-weight: 100;
}
#loginModal p a {
  color: rgb(246, 246, 134);
  text-decoration: none;
}

.formInput {
  display: flex;
  flex-direction: column;
}
.formInput input {
  width: 150px;
  height: 20px;
}

.formFlex {
  display: flex;
  gap: 25px;
}

.formButton {
  display: flex;
  align-items: flex-end;
}
.formButton button {
  width: 75px;
  height: 26px;
  color: white;
  background-color: #8ab5b8;
  border-radius: 3px;
  border: none;
}

.label {
  font-size: 1.2rem;
  font-weight: 100;
}

@-webkit-keyframes toptobottom {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes toptobottom {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(0%);
  }
}
#categoryModal {
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0 0 0 5%;
  z-index: 999;
  position: absolute;
}
#categoryModal li {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Roboto Condensed", sans;
  padding-top: 5px;
}
#categoryModal a {
  color: white;
  text-decoration: none;
}

.slideStart {
  -webkit-animation-name: toptobottom;
          animation-name: toptobottom;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

body {
  background-color: black;
}

main {
  padding: 1% 2% 1% 2%;
  background-color: rgb(240, 240, 240);
  height: 100%;
  margin: 0;
}

h2 {
  font-weight: 100;
}

#highlightProduct {
  display: flex;
  justify-content: center;
}

#bestsellercontainer {
  width: 100%;
}

#bestsellerProducts,
#categoryProducts {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.productCard {
  background-color: white;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 5%;
}
.productCard img {
  width: 100%;
}
.productCard .thumbnailDesc {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 50px;
}
.productCard .thumbnailDesc p {
  font-weight: 100;
}
.productCard .thumnailPrice p {
  font-weight: 500;
}
.productCard .cardFlex {
  display: flex;
  justify-content: flex-end;
}
.productCard h2 {
  font-weight: 500;
  height: 65px;
  margin: 0;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
footer h2,
footer h3,
footer p {
  color: white;
}

.some,
.paymentMethods {
  display: flex;
  align-items: center;
}
.some img:hover,
.paymentMethods img:hover {
  transition: 200ms;
  scale: 130%;
}
.some figure,
.paymentMethods figure {
  margin: 0 0 0 5%;
}
.some img,
.paymentMethods img {
  width: 30px;
}

body {
  margin: 0;
}

p,
a {
  font-family: "Roboto Condensed", sans;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}/*# sourceMappingURL=style.css.map */